/*FONTS*/

/* Roboto + Oswald*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&family=Roboto:wght@100;300;400;500;600&display=swap');


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*:before,
*:after{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
body{
	margin: 0;
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
}

.container{
	width: 100%;
	max-width: 90%;
	margin: 0 auto;
}


/*HEADER*/

.header{
	background-color: #413A35;
	/*height: 15vh;*/
	padding: 50px 0;
	padding-top: 5px;
	position: relative;
}

.header .container{
	display: flex;
	justify-content: space-between;
}
/* header logo */
.header__logo{
	flex-basis: 25%;
	display: flex;
	align-items: center;
}
.header__logo-icon{
	margin-right: 4%;
}
.logo__text{
}
/* header info */
.header__info{
	flex-basis: 70%;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__info span{
	
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	line-height: 15px;

	position: relative;
}

.header__info i{
	font-size: 15px;
	position: absolute;
	z-index: 1;
	top: 50%;
	right: 105%;
	transform: translate3d(0, -50%, 0);


}

.header__info span:last-child{

	font-size: 27px;
	margin-right: 40px;
}
.header__info span:last-child i{
	font-size: 25px;
	
}

/*NAV*/
/*header nav*/
.header__nav{
	background-color: #FFC501;
	width: 90%;
	/*height: 90%;*/

	display: flex;
	justify-content: space-between;
	align-items: center;
	

	position: absolute;
	z-index: 2;
	bottom: -80%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}
.header__nav ul{
	margin: 20px 0px 20px 40px;
	display: flex;
	flex-basis: 50%;

}
.header__nav li{
	list-style-type: none;
	font-size: 20px;
	font-weight: 400;
	color: #312C21;
	/*text-transform: uppercase;*/
	padding: 0 3% 0 3%;
	border-right: 1px solid #312C21;
}
.header__nav li:first-child{
	padding-left: 3%;
}
.header__nav li:last-child{
	padding-right: 0;
	border-right: none;
}
.header__nav a{
	text-decoration: none;
	color: inherit;
}

.header__nav--callback{
	border: 1px solid #312C21;
	padding: 15px 30px;
	margin: 20px 40px 20px 0;
}
.header__nav--callback i{
	font-size: 20px;
	margin-right: 10px;
}
.header__nav--callback a{
	color: #312C21;
	text-decoration: none;
	font-size: 20px;
}

/* PREVIEW */

.preview{

	height: 80vh;	
	background: url(../img/bg.png) center no-repeat;
	background-size: cover;	

	display: flex;
	justify-content: center;
	align-items: center;
}
.slider{
	width: 60%;
	height: auto;
	padding: 50px 50px;
	/*background-color: #333;*/
	background: rgba(51, 51, 51, 0.54);
	color: #fff;
	font-family: 'Oswald';
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.slider-title{
	font-weight: 500;
	font-size: 52px;
	line-height: 77px;
	margin-bottom: 10px;
}
.slider-subtitle{
	font-weight: 600;
	font-size: 30px;
	line-height: 44px;
}
.slider-btn{
	display: inline-block;
	color: #312C21;
	background-color: #FFC501;
	font-family: 'Roboto';
	font-weight: 600;
	text-decoration: none;
	padding: 20px 60px;
	margin-top: 20px;
}