/*FONTS*/

/* Roboto + Oswald + Raleway + Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&family=Oswald:wght@400;500;600&family=Raleway:wght@100;400;500;700&family=Roboto:wght@100;300;400;500&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*:before,
*:after{
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
body{
	margin: 0;
	font-family: 'Roboto';
	font-style: normal;
	color: #181818;
}

.container{
	width: 100%;
	max-width: 80%;
	margin: 0 auto;
}
/* HEADER */
.header{
	height: 12vh;
	padding: 25px 0 10px 0;
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
	position: relative;
}
.header .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo{

}
.header__nav-sidebar{
	color: #181818;
	font-size: 30px;
	display: none;
}
.header__nav ul li{
	display: inline;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
	padding-left: 30px;
}
.header__nav ul li:first-child{
		padding: 0;
}
.header__nav a{
	text-decoration: none;
	color: inherit;
}
.header__number i{
	margin-right: 5px;
}
.header__number{
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	text-transform: uppercase;
}
/* header__info */
.header__info{
	position: absolute;
	top: 15px;
	right: 10%;
	width: auto;
}
.header__info li{
	display: inline;
	color: #3E3E3E;
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 13px;
	line-height: 15px;
	margin-right: 50px;
	
}
.header__info li:last-child{
	margin-right: 0;
}
.header__info i{
	margin-right: 8px;
}

/* preview  */
.preview{
	height: 88vh;
	background: url(../img/header-bg.jpg) center no-repeat;
	background-size: cover;



	display: flex;
	justify-content: center;
	align-items: center;
}


.slider{

	width: 80%;
	height: auto;
	padding: 3% 3%;
	/*background-color: #333;*/
	background: rgba(1, 1, 0, 0.54);

	color: #fff;

	font-family: 'Oswald';
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.slider-title{
	font-weight: 500;
	font-size: 52px;
	line-height: 77px;
	margin-bottom: 10px;
}
.slider-subtitle{
	font-weight: 600;
	font-size: 30px;
	line-height: 44px;
}
.slider-subtitle-sub{
	font-size: 25px;
}
.slider-btn{
	display: inline-block;
	color: #181818;
	background-color: #FFC501;
	font-family: 'Roboto';
	font-weight: 600;
	text-decoration: none;
	padding: 20px 60px;
	margin-top: 20px;
}

/*SECTION*/
.section{
	margin: 150px 0 0 0; 
	
}
.section__title{
	font-size: 28px;
	margin-bottom: 50px;
}

/*ABOUS US*/
.about{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	
}
.about__item{
	width: 273px;
	height: 293px;
	position: relative;
}
.about__item:before{
	content: "";
	display: block;
	width: 90%;
	height: 2px;
	position: absolute;
	top: 65%;
	right: 20px;
	z-index: 3;
	background-color: #FFC501;
	
}
.about__text{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10% 0 10% 3%;
}
.about-title{
	font-family: 'Oswald';
	font-weight: 500;
	font-size: 32px;
	text-transform: uppercase;
}
.about-title span{
	color: #FFC501;
}
.about-description{
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;
/*	position: absolute;
	z-index: 4;
	bottom: 0;*/
	height: 25%;
	width: 95%;
	margin: 0 auto;
	
}
.about__img{
	width: 100%;
	height: auto;
	position: relative;
}
.about__img-opacity{
	background-color: #181818;
	position: absolute;
	z-index: 1;
	opacity: .7;
	width: 100%;
	height: 98.7%;
}
.about__img img{
	width: 100%;
	height: auto;
}

/*PRODUCTION*/
.production{
	display: flex;
	justify-content: space-betweena;


}
.production__item{
	
	flex-basis: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-around;
}

.production__item:last-child{
	align-items: center;
}
.production__img{
	width: 80%;
	height: auto;
}

.production__text{
	font-family: 'Raleway';
	font-size: 24px;
	line-height: 28px;
}

.production-btn{
	margin-top: 50px;
}
.production-btn a{
	background-color:#FFC501;
	color: inherit;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	padding: 20px 60px;
	border-radius: 20px;
	display: inline-block;
}
.production-btn span{
	display: inline-block;
	margin-left: 20px;
	color: #828282;
}
/*PALLET*/

.pallet{
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.pallet__item{
	margin-top: 50px;
	width: 390px;
	height: 500px;
	/*background: #8DA399;*/
}
.pallet__item:nth-child(4), .pallet__item:nth-child(5), .pallet__item:nth-child(6){
	/*margin-top: 50px;*/
}
.pallet-img{

	border-bottom: 1px solid #181818;
	text-align: center;
}
.pallet-img img{
	width: 90%;
	height: auto;
}
.pallet-title, .pallet-width{
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 24px;
}
.pallet-title{
	margin-top: 20px;
}
.pallet-width{

}
.pallet-description{
	margin-top: 20px;
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 18px;

}
.pallet-cost{
	margin-top: 20px;
}
.pallet-cost span{
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 24px;
	margin-right: 5px;
}

.pallet-cost-btn{
	text-decoration: none;
	color: inherit;
	background-color: #FFC501;
	padding: 10px 20px;
	border-radius: 20px;

}


/*FORM*/

.section--form .container{
	display: flex;
}


.form__item{
	

}
.form__item:first-child{
	flex-basis: 50%;
}
.form__item:last-child{
	flex-basis: 50%;
	display: flex;
	align-items: center;
	
}

.form__item:last-child img{
	display: block;
	width: 100%;
	height: auto;
}	

.form__input-description{
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 22px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.form__input{
	width: 100%;
	height: 60px;
}

.form__text{
	width: 100%;
	height: 120px;
}
.form__input, .form__text{
	background: #FFFFFF;
	border: 1px solid #181818;
	border-radius: 5px;
	padding: 20px;
	font-size: 20px;
}
.form__input{
	text-align: center;
}
.checkbox__wrapper{
	margin: 10px 0;
	display: flex;
	align-items: center;
}
.form__checkbox{
	width: 20px;
	height: 20px;

}
.form__label{
	font-family: 'Raleway';
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	margin-left: 10px;
}
.form__btn{
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #FFC501;
    color: inherit;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 60px;
    border-radius: 20px;
    border: none;
    box-shadow: none;
    outline: none; 
    cursor: pointer;
}