@media(max-width: 1000px){
	/*HEADER*/

	/*HEADER BG*/
	.container--preview{
		position: relative;
	}
	/*.car-bg{
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;

	}*/

	/**/
	.logo img{
		width: 80%;
	}
	.header__nav-sidebar{
		display: block;
	}
	.header__nav{
		display: none;
	}
	.header__info{
		display: none;
	}

	/*preview*/
	.preview{

		/*background: #fff;*/
	}
	.container--preview{
		max-width: 100%;
	}
	.slider{
		background: rgba(1, 1, 0, 0.44);
		color: #fff;
		height: 100%;
		width: 100%;
	}
	.slider-title{
		line-height: 50px;
		}
	.slider-subtitle{
		
		}
	.slider-subtitle-sub{
		
		}
	.slider-btn{
		
	}

		/*ABOUT US*/
	.about{
		
	}
	.about__item{
		
	}
	.about__item:nth-child(3), .about__item:nth-child(4){
		
	}
	.about__item:before{
		display: none;

	}
	.about__text{
		
	}
	.about-title{
		font-size: 24px;
	}
	.about-description{
		font-size: 18px;
	}

	/*PALLET*/
	.pallet{
		justify-content: center;
	}
	.pallet__item{
		margin-top: 100px;
		width: 51%;
	}
	.pallet-img img{
		width: 100%;
	}
	.pallet-title, .pallet-width{
		font-size: 20px;
	}
	.pallet-cost{

	}
	.pallet-cost span{
		font-size: 20px;
	}

	.pallet-cost-btn{
		margin-top: 20px;
		display: block;
		text-align: center;
		border-radius: 0;
	}

	.pallet-btn{
		margin-top: 15%;
	}
	.pallet-btn a{
		padding: 15px 0;
		width: 51%;
		border-radius: 0;
	}


	/*FORM*/
	.form__item:first-child{
		flex-basis: 90%;
		margin: 0 auto;
		
	}
	.form__item:last-child{
		display: none;
	}

	.form__input-description{
		font-size: 20px;
	}
	.form__btn {
		width: 40%;
	}

	/*FOOTER*/
	.footer .container{
		max-width: 90%;
		flex-wrap: wrap;
	}
	.footer__item{
		flex-basis: 100%;
		text-align: center;
	}
	.footer__item:first-child{
		margin-bottom: 20px;
	}
	.footer-logo{
		width: 30%;
	}
	.footer-copyright {
		display: none;
	}
	.footer__nav ul li{
		display: inline-block;
		margin-right: 50px;
		font-size: 18px;
	}
	.footer__info{
		margin-top: 10px;
	}
	.footer__info ul li{
		display: inline-block;
		margin-right: 50px;
		font-size: 14px;
	}

	.footer__feedback{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.footer__feedback-text{
			font-size: 16px;
		}
	.footer__feedback-btn{
		font-size: 20px;
	}
	.footer__feedback-btn i{
		font-size: 20px;
	}
}