@media(max-width: 1400px){
	/*HEADER*/

	/*header logo*/
	.logo img{
		width: 90%;
		height: auto;
	}
	/*header nav*/
	.header__nav ul li{
		font-size: 15px;
	}
	.header__number {
		font-size: 20px;
	}
	.header__info li{
		font-size: 12px;
	}

	/*preview*/
	.slider-title{
		font-size: 45px;

		}
	.slider-subtitle{
		font-size: 28px;
		}
	.slider-subtitle-sub{
		font-size: 22px;
		}

}