@media(max-width: 540px){


	/*ABOUT US*/
	.about{
	}
	.about__item{
		width: 100%;
	}
	.about__item:nth-child(1){
		
	}
	.about__item:before{
		display: none;

	}
	.about__text{
		justify-content: center;
	}
	.about-title{
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;
	}
	.about-description{
		font-size: 25px;
	}

	/*PRODUCTION*/
	.production-btn a {
		width: 60%;
	}

	/*PALLET*/
	.pallet{
		justify-content: normal;
	}
	.pallet__item{
		width: 100%;
		margin-top: 200px;
	}
	.pallet-title, .pallet-width{
		font-size: 18px;
	}
	.pallet-description{
		font-size: 14px;
	}
	.pallet-cost span{
		font-size: 18px;
	}

	/*FORM*/
	.form__input-description{
		font-size: 16px;
	}
	.form__input {
		height: 50px;
	}
	.form__input, .form__text{
		font-size: 16px;
	}
	.form__btn{
		padding: 20px 0;
		font-size: 16px;
	}
	/*FOOTER*/
	.footer .container{
		padding-top: 30px;
	}
	.footer__item:nth-child(2), .footer__item:nth-child(4){
		flex-basis: 100%;
	}
	.footer__nav{
		text-align: center;
	}
	.footer__nav ul li{
		font-size: 14px;
		display: inline-block;
		margin: 0;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.footer__nav ul li:last-child{
		margin: 0;
		margin-bottom: 20px;
	}
	.footer__feedback-text{
		/*font-size: 12px;*/
	}
	.footer__feedback-btn{
		/*font-size: 18px;*/
		width: 80%;
	}
	.footer__feedback-btn i{
		/*font-size: 18px;*/
	}

	.footer__number {
		/*font-size: 18px;*/
	}
}
