@media(max-width: 700px){
	/*container*/
	.container{
		max-width: 90%;
	}

	/*HEADER*/
	.header__number{
	
	}

	/*HEADER BG*/
	.car-bg{
		width: 50%;
		height: auto;
	}

	/*preview*/
	.container--preview{
		max-width: 100%;
	}
	.slider{

	}
	.slider-title{
		font-size: 30px;
		margin-top: 50px;

		}
	.slider-subtitle{
		font-size: 20px;
		}
	.slider-subtitle-sub{
		font-size: 18px;
		}
	
	.slider-btn{
		padding: 20px 40px;
		font-size: 18px;
	}
	/*SECTION*/
	.section__title{
		font-size: 20px;
	}


	/*PRODUCTION*/
	.production__item{
		text-align: center;
	}
	.production__text{
		font-size: 17px;
	}

	.production-btn a{
		
		display: block;
		margin:  0 auto;
		font-size: 18px;
		border-radius: 0;
		width: 40%;
		padding: 20px 0px;
	}
	.production-btn span{
		margin-top: 10px;
	}

	/*FORM*/
	.form__item{
		flex-basis: 100%;
	}
}