@media(max-width: 700px){
	/*HEADER*/

	.header__number{
		display: none;
	}

	/*preview*/
	.slider{

	}
	.slider-btn{
		margin: 50px auto 0 auto;
	}

	/*PRODUCTION*/
	.production__text{
		font-size: 17px;
	}

	.production-btn{
		font-size: 18px;
	}
	.production-btn span{
		font-size: 16px;
	}

	/* PALLET} */
	.pallet__item{
		margin-top: 50px;
	}

	/*FORM*/
	.form__item:first-child{
		flex-basis: 80%;
	}
	.form__input-description{
		font-size: 18px;
	}
	.form__checkbox {
		width: 15px;
		height: 15px;
	}
	.form__label {
		font-size: 14px;
	}
	.form__btn {
		width: 50%;
		margin-top: 20px;
	}
}